@font-face {
  font-weight: 700;
  font-family: "Montserrat";
  font-style: normal;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: "Montserrat";
  font-style: normal;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: "Montserrat";
  font-style: normal;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "Montserrat";
  font-style: normal;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: "Poppins";
  font-style: normal;
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  font-family: $main-font;
  color: $font-color;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.input__block {
  position: relative;
}

.input-invalid {
  position: absolute;
  display: none;

  font-size: 12px;
  line-height: 15px;
  color: $color-main;
  top: -16px;
}

.input-data:invalid {
  border-color: $color-main;
}

.input-data:invalid ~ .input-invalid {
  display: block;
}
